.about_container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;
  border: 1px solid #48515e;
}

.about_col_1 {
  grid-column: span 4;
  padding: 20px;
}

.about_col_2 {
  grid-column: span 4;
  padding: 14px;
  border: 1px solid #48515e;
  position: relative;
}

.about_col_3 {
  grid-column: span 4;
  padding: 14px;
}

.about_text {
  margin-bottom: 80px;
  text-align: left;
}

.about_subtext {
  font-size: 18px;
  color: #77818f;
}

.moustache_text {
  color: #17e134;
  font-size: 20px;
  z-index: 100;
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.underline_text {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #17e134;
}

.find_me_at {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 10px;
}

.mahak_img_container {
  background-image: url("src/assets/mahak-img.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  cursor: url("src/assets/paintbrush.png");
}

.mahak_img_container konvajs-content {
  width: 200px;
}

.mahak_img_container canvas {
  width: 200px;
}

.experiments_container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  row-gap: 10px;
}
