.heading_row{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-column: span 12;
    grid-row: span 4;
    font-size: 80px;
    font-weight: 700;
    border: 1px solid #48515e;
}

.heading_row h3{
    margin-left: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}
