.job_heading{
    font-size: 22px;
    font-weight: 500;
    width: fit-content;
}
.green_text{
    color: #17e134;
}

.description_container{
    margin-left: 30px;
}

.job_duration{
    color: #77818f;
    text-align: left;
    margin-bottom: 20px;
}

.description_container>ul{
    text-align: left;
    display: inline-block;
    padding-inline-start: 10px;
}

.description_container>li{
  margin-bottom: 8px;  
}
