.experience_container{
    border: 1px solid #2a323e;
    border-top: none;
    padding: 16px;
    text-align: left;

}

.experience_flex{
    display: flex;
}

.h4{
    color: #17e134;
}

.custom_tabs{
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media (min-width: 768px) {
       flex-direction: row;
      }
}

.custom_tab{
    padding: 0px 20px 2px;
    border-left: 2px solid #2a323e;
    
}

.custom_tab_selected{
    border-left: 2px solid #17e134;
    background-color: #2a323e;
    padding: 0px 20px 2px;
    outline-style: none;
}

.custom_tab_list{
    min-width: 180px;
    padding: 0px;
    list-style-type: none;
}

.custom_tab_panels{
    grid-column: span 12;
}
